/* ! Reset */
body,
html {
  font-family: "Roboto Serif", serif;
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
ol,
ul {
  list-style-type: none;
}
img {
  height: auto;
}
a {
  text-decoration: none;
  color: inherit;
}
input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1{
  font-weight: 600;
}
h2{
  font-weight: 500;
}
h3{
  font-weight: 400;
}
p{
  font-weight: 300;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #133c55;
  color: rgb(233, 200, 13);
}
