/* ! Reset */
body,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
ol,
ul {
  list-style-type: none;
}
img {
  height: auto;
}
a {
  text-decoration: none;
  color: inherit;
}
input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1{
  font-weight: 600;
}
h2{
  font-weight: 500;
}
h3{
  font-weight: 400;
}
p{
  font-weight: 300;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.raleway-reg {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
